<h1>Add a new restaurant</h1>

<%= form_with model: @restaurant, local: true do |element| %>
  <%= element.label :name %>
  <%= element.text_field :name %>
  <%= element.label :address %>
  <%= element.text_field :address %>
  <%= element.label :phone_number %>
  <%= element.text_field :phone_number %>
  <%= element.label :category %>
  <%= element.select :category, options_for_select([['Japanese', 'japanese'], ['Chinese', 'chinese'], ['Italian', 'italian'], ['French', 'french'], ['Belgian', 'belgian']]) %>
  <%= element.submit%>
<% end %>

<%= link_to "back to restaurants", restaurants_path %>
